[submodule "themes/hueman"]
	path = themes/hueman
	url = git@github.com:WEAFTeam/hexo-theme-hueman.git
[submodule "source/_posts"]
	path = source/_posts
	url = git@github.com:WEAFTeam/weekly.git
[submodule ".deploy_git"]
	path = .deploy_git
	url = git@github.com:WEAFTeam/weafteam.github.io.git
